name: Compile results
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  paper:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Quarto
        run: |
          wget https://quarto.org/download/latest/quarto-linux-amd64.deb -O quarto.deb
          sudo apt install -y ./quarto.deb
          rm quarto.deb
      - name: install tinytex extension
        run: quarto install tinytex --update-path
      - name: compile and move pdfs 
        run: |
          quarto render ds2rse_curriculas.qmd --to pdf -o ds2rse_inside_cycle.pdf
          quarto render ds2rse_curriculas2.qmd --to pdf -o ds2rse_outside_cycle.pdf
          mv ds2rse_inside_cycle.pdf results
          mv ds2rse_outside_cycle.pdf results
      - name: Upload pdf as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Comparison results
          path: ./results
  deploy:
    needs: [paper]
    permissions: 
      contents: write
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'the-teachingRSE-project/ds2rse' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: github_artifacts
      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./results
          publish_branch: results
    
